@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?28741945');
  src: url('../fonts/fontello.eot?28741945#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?28741945') format('woff2'),
       url('../fonts/fontello.woff?28741945') format('woff'),
       url('../fonts/fontello.ttf?28741945') format('truetype'),
       url('../fonts/fontello.svg?28741945#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?28741945#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-mail:before { content: '\e800'; } /* '' */
.icon-ok:before { content: '\e801'; } /* '' */
.icon-ok-circled:before { content: '\e802'; } /* '' */
.icon-ok-circled2:before { content: '\e803'; } /* '' */
.icon-cancel:before { content: '\e804'; } /* '' */
.icon-cancel-circled:before { content: '\e805'; } /* '' */
.icon-cancel-circled2:before { content: '\e806'; } /* '' */
.icon-plus:before { content: '\e807'; } /* '' */
.icon-plus-circled:before { content: '\e808'; } /* '' */
.icon-minus:before { content: '\e809'; } /* '' */
.icon-minus-circled:before { content: '\e80a'; } /* '' */
.icon-help-circled:before { content: '\e80b'; } /* '' */
.icon-info-circled:before { content: '\e80c'; } /* '' */
.icon-home:before { content: '\e80d'; } /* '' */
.icon-link:before { content: '\e80e'; } /* '' */
.icon-tag:before { content: '\e80f'; } /* '' */
.icon-tags:before { content: '\e810'; } /* '' */
.icon-comment:before { content: '\e811'; } /* '' */
.icon-chat:before { content: '\e812'; } /* '' */
.icon-attention:before { content: '\e813'; } /* '' */
.icon-attention-circled:before { content: '\e814'; } /* '' */
.icon-folder:before { content: '\e815'; } /* '' */
.icon-folder-open:before { content: '\e816'; } /* '' */
.icon-phone:before { content: '\e817'; } /* '' */
.icon-calendar:before { content: '\e818'; } /* '' */
.icon-login:before { content: '\e819'; } /* '' */
.icon-logout:before { content: '\e81a'; } /* '' */
.icon-export:before { content: '\e81b'; } /* '' */
.icon-down-circled2:before { content: '\e81c'; } /* '' */
.icon-up-circled2:before { content: '\e81d'; } /* '' */
.icon-down-dir:before { content: '\e81e'; } /* '' */
.icon-up-dir:before { content: '\e81f'; } /* '' */
.icon-left-dir:before { content: '\e820'; } /* '' */
.icon-right-dir:before { content: '\e821'; } /* '' */
.icon-down-open:before { content: '\e822'; } /* '' */
.icon-left-open:before { content: '\e823'; } /* '' */
.icon-right-open:before { content: '\e824'; } /* '' */
.icon-up-open:before { content: '\e825'; } /* '' */
.icon-zoom-in:before { content: '\e826'; } /* '' */
.icon-zoom-out:before { content: '\e827'; } /* '' */
.icon-up-big:before { content: '\e828'; } /* '' */
.icon-right-big:before { content: '\e829'; } /* '' */
.icon-left-big:before { content: '\e82a'; } /* '' */
.icon-down-big:before { content: '\e82b'; } /* '' */
.icon-play-circled2:before { content: '\e82c'; } /* '' */
.icon-doc:before { content: '\e82d'; } /* '' */
.icon-popup:before { content: '\e82e'; } /* '' */
.icon-down-open-1:before { content: '\e82f'; } /* '' */
.icon-left-open-1:before { content: '\e830'; } /* '' */
.icon-right-open-1:before { content: '\e831'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-up-open-1:before { content: '\e833'; } /* '' */
.icon-down-open-mini:before { content: '\e834'; } /* '' */
.icon-up-dir-1:before { content: '\e835'; } /* '' */
.icon-right-dir-1:before { content: '\e836'; } /* '' */
.icon-left-dir-1:before { content: '\e837'; } /* '' */
.icon-down-dir-1:before { content: '\e838'; } /* '' */
.icon-up-1:before { content: '\e839'; } /* '' */
.icon-right-1:before { content: '\e83a'; } /* '' */
.icon-left-1:before { content: '\e83b'; } /* '' */
.icon-down-1:before { content: '\e83c'; } /* '' */
.icon-up-open-big:before { content: '\e83d'; } /* '' */
.icon-right-open-big:before { content: '\e83e'; } /* '' */
.icon-left-open-big:before { content: '\e83f'; } /* '' */
.icon-home-3:before { content: '\e840'; } /* '' */
.icon-calendar-3:before { content: '\e841'; } /* '' */
.icon-calendar-inv:before { content: '\e842'; } /* '' */
.icon-popup-1:before { content: '\e843'; } /* '' */
.icon-crown:before { content: '\e844'; } /* '' */
.icon-down-open-big:before { content: '\e845'; } /* '' */
.icon-up-open-mini:before { content: '\e846'; } /* '' */
.icon-right-open-mini:before { content: '\e847'; } /* '' */
.icon-left-open-mini:before { content: '\e848'; } /* '' */
.icon-lamp:before { content: '\e849'; } /* '' */
.icon-folder-1:before { content: '\e84a'; } /* '' */
.icon-chat-1:before { content: '\e84b'; } /* '' */
.icon-users:before { content: '\e84c'; } /* '' */
.icon-user:before { content: '\e84d'; } /* '' */
.icon-forward:before { content: '\e84e'; } /* '' */
.icon-menu-1:before { content: '\e84f'; } /* '' */
.icon-check:before { content: '\e850'; } /* '' */
.icon-cancel-1:before { content: '\e851'; } /* '' */
.icon-cancel-circled-1:before { content: '\e852'; } /* '' */
.icon-cancel-squared:before { content: '\e853'; } /* '' */
.icon-plus-1:before { content: '\e854'; } /* '' */
.icon-plus-circled-1:before { content: '\e855'; } /* '' */
.icon-plus-squared-1:before { content: '\e856'; } /* '' */
.icon-minus-1:before { content: '\e857'; } /* '' */
.icon-minus-circled-1:before { content: '\e858'; } /* '' */
.icon-minus-squared-1:before { content: '\e859'; } /* '' */
.icon-help-1:before { content: '\e85a'; } /* '' */
.icon-help-circled-1:before { content: '\e85b'; } /* '' */
.icon-info-1:before { content: '\e85c'; } /* '' */
.icon-info-circled-1:before { content: '\e85d'; } /* '' */
.icon-link-1:before { content: '\e85e'; } /* '' */
.icon-home-1:before { content: '\e85f'; } /* '' */
.icon-attention-1:before { content: '\e860'; } /* '' */
.icon-alert:before { content: '\e861'; } /* '' */
.icon-rss-1:before { content: '\e862'; } /* '' */
.icon-phone-1:before { content: '\e863'; } /* '' */
.icon-calendar-1:before { content: '\e864'; } /* '' */
.icon-login-1:before { content: '\e865'; } /* '' */
.icon-logout-1:before { content: '\e866'; } /* '' */
.icon-clock:before { content: '\e867'; } /* '' */
.icon-th-list:before { content: '\e868'; } /* '' */
.icon-th-list-outline:before { content: '\e869'; } /* '' */
.icon-user-1:before { content: '\e86a'; } /* '' */
.icon-users-1:before { content: '\e86b'; } /* '' */
.icon-mail-1:before { content: '\e86c'; } /* '' */
.icon-export-1:before { content: '\e86d'; } /* '' */
.icon-list:before { content: '\e86e'; } /* '' */
.icon-dot-3:before { content: '\e86f'; } /* '' */
.icon-ok-outline:before { content: '\e870'; } /* '' */
.icon-ok-1:before { content: '\e871'; } /* '' */
.icon-cancel-outline:before { content: '\e872'; } /* '' */
.icon-cancel-2:before { content: '\e873'; } /* '' */
.icon-cancel-circled-outline:before { content: '\e874'; } /* '' */
.icon-cancel-circled-2:before { content: '\e875'; } /* '' */
.icon-plus-outline:before { content: '\e876'; } /* '' */
.icon-plus-2:before { content: '\e877'; } /* '' */
.icon-minus-outline:before { content: '\e878'; } /* '' */
.icon-minus-2:before { content: '\e879'; } /* '' */
.icon-info-outline:before { content: '\e87a'; } /* '' */
.icon-info-2:before { content: '\e87b'; } /* '' */
.icon-home-outline:before { content: '\e87c'; } /* '' */
.icon-home-2:before { content: '\e87d'; } /* '' */
.icon-link-outline:before { content: '\e87e'; } /* '' */
.icon-link-2:before { content: '\e87f'; } /* '' */
.icon-comment-1:before { content: '\e880'; } /* '' */
.icon-chat-2:before { content: '\e881'; } /* '' */
.icon-chat-alt:before { content: '\e882'; } /* '' */
.icon-menu-2:before { content: '\e883'; } /* '' */
.icon-menu-outline:before { content: '\e884'; } /* '' */
.icon-left-open-outline:before { content: '\e885'; } /* '' */
.icon-left-open-2:before { content: '\e886'; } /* '' */
.icon-right-open-outline:before { content: '\e887'; } /* '' */
.icon-right-open-2:before { content: '\e888'; } /* '' */
.icon-down-2:before { content: '\e889'; } /* '' */
.icon-left-2:before { content: '\e88a'; } /* '' */
.icon-phone-outline:before { content: '\e88b'; } /* '' */
.icon-rss-2:before { content: '\e88c'; } /* '' */
.icon-phone-2:before { content: '\e88d'; } /* '' */
.icon-right-2:before { content: '\e88e'; } /* '' */
.icon-up-2:before { content: '\e88f'; } /* '' */
.icon-down-outline:before { content: '\e890'; } /* '' */
.icon-left-outline:before { content: '\e891'; } /* '' */
.icon-right-outline:before { content: '\e892'; } /* '' */
.icon-up-outline:before { content: '\e893'; } /* '' */
.icon-down-small:before { content: '\e894'; } /* '' */
.icon-left-small:before { content: '\e895'; } /* '' */
.icon-right-small:before { content: '\e896'; } /* '' */
.icon-up-small:before { content: '\e897'; } /* '' */
.icon-export-outline:before { content: '\e898'; } /* '' */
.icon-export-2:before { content: '\e899'; } /* '' */
.icon-eye-1:before { content: '\e89a'; } /* '' */
.icon-tags-1:before { content: '\e89b'; } /* '' */
.icon-folder-2:before { content: '\e89c'; } /* '' */
.icon-quote-left-1:before { content: '\e89d'; } /* '' */
.icon-quote-right-1:before { content: '\e89e'; } /* '' */
.icon-facebook-circled-1:before { content: '\e89f'; } /* '' */
.icon-facebook-2:before { content: '\e8a0'; } /* '' */
.icon-twitter-2:before { content: '\e8a1'; } /* '' */
.icon-twitter-circled-1:before { content: '\e8a2'; } /* '' */
.icon-search-outline:before { content: '\e8a3'; } /* '' */
.icon-search:before { content: '\e8a4'; } /* '' */
.icon-user-outline:before { content: '\e8a5'; } /* '' */
.icon-user-2:before { content: '\e8a6'; } /* '' */
.icon-mail-2:before { content: '\e8a7'; } /* '' */
.icon-search-1:before { content: '\e8a8'; } /* '' */
.icon-search-2:before { content: '\e8a9'; } /* '' */
.icon-bookmark:before { content: '\e8aa'; } /* '' */
.icon-attach:before { content: '\e8ab'; } /* '' */
.icon-lock:before { content: '\e8ac'; } /* '' */
.icon-eye:before { content: '\e8ad'; } /* '' */
.icon-doc-text-1:before { content: '\e8ae'; } /* '' */
.icon-doc-text-inv-1:before { content: '\e8af'; } /* '' */
.icon-newspaper:before { content: '\e8b0'; } /* '' */
.icon-window:before { content: '\e8b1'; } /* '' */
.icon-attach-outline:before { content: '\e8b2'; } /* '' */
.icon-attach-1:before { content: '\e8b3'; } /* '' */
.icon-lock-1:before { content: '\e8b4'; } /* '' */
.icon-lock-filled:before { content: '\e8b5'; } /* '' */
.icon-attention-2:before { content: '\e8b6'; } /* '' */
.icon-attention-filled:before { content: '\e8b7'; } /* '' */
.icon-warning-empty:before { content: '\e8b8'; } /* '' */
.icon-warning:before { content: '\e8b9'; } /* '' */
.icon-doc-1:before { content: '\e8ba'; } /* '' */
.icon-doc-text-2:before { content: '\e8bb'; } /* '' */
.icon-calendar-outlilne:before { content: '\e8bc'; } /* '' */
.icon-calendar-2:before { content: '\e8bd'; } /* '' */
.icon-zoom-in-outline:before { content: '\e8be'; } /* '' */
.icon-zoom-in-1:before { content: '\e8bf'; } /* '' */
.icon-zoom-out-outline:before { content: '\e8c0'; } /* '' */
.icon-zoom-out-1:before { content: '\e8c1'; } /* '' */
.icon-clock-1:before { content: '\e8c2'; } /* '' */
.icon-lightbulb:before { content: '\e8c3'; } /* '' */
.icon-eye-outline:before { content: '\e8c4'; } /* '' */
.icon-tag-1:before { content: '\e8c5'; } /* '' */
.icon-award:before { content: '\e8c6'; } /* '' */
.icon-clock-2:before { content: '\e8c7'; } /* '' */
.icon-globe:before { content: '\e8c8'; } /* '' */
.icon-cw:before { content: '\e8c9'; } /* '' */
.icon-ccw:before { content: '\e8ca'; } /* '' */
.icon-arrows-cw:before { content: '\e8cb'; } /* '' */
.icon-resize-full:before { content: '\e8cc'; } /* '' */
.icon-resize-small:before { content: '\e8cd'; } /* '' */
.icon-resize-vertical:before { content: '\e8ce'; } /* '' */
.icon-resize-horizontal:before { content: '\e8cf'; } /* '' */
.icon-basket:before { content: '\e8d0'; } /* '' */
.icon-wrench:before { content: '\e8d1'; } /* '' */
.icon-cog-alt:before { content: '\e8d2'; } /* '' */
.icon-cog:before { content: '\e8d3'; } /* '' */
.icon-pencil:before { content: '\e8d4'; } /* '' */
.icon-edit:before { content: '\e8d5'; } /* '' */
.icon-print:before { content: '\e8d6'; } /* '' */
.icon-retweet:before { content: '\e8d7'; } /* '' */
.icon-trash-empty:before { content: '\e8d8'; } /* '' */
.icon-location:before { content: '\e8d9'; } /* '' */
.icon-flag:before { content: '\e8da'; } /* '' */
.icon-thumbs-up:before { content: '\e8db'; } /* '' */
.icon-thumbs-down:before { content: '\e8dc'; } /* '' */
.icon-download:before { content: '\e8dd'; } /* '' */
.icon-upload:before { content: '\e8de'; } /* '' */
.icon-lock-open:before { content: '\e8df'; } /* '' */
.icon-pin:before { content: '\e8e0'; } /* '' */
.icon-eye-off:before { content: '\e8e1'; } /* '' */
.icon-truck:before { content: '\e8e2'; } /* '' */
.icon-check-1:before { content: '\e8e3'; } /* '' */
.icon-chart-bar:before { content: '\e8e4'; } /* '' */
.icon-video:before { content: '\e8e5'; } /* '' */
.icon-videocam:before { content: '\e8e6'; } /* '' */
.icon-picture:before { content: '\e8e7'; } /* '' */
.icon-camera:before { content: '\e8e8'; } /* '' */
.icon-camera-alt:before { content: '\e8e9'; } /* '' */
.icon-th-large:before { content: '\e8ea'; } /* '' */
.icon-th:before { content: '\e8eb'; } /* '' */
.icon-th-list-1:before { content: '\e8ec'; } /* '' */
.icon-heart:before { content: '\e8ed'; } /* '' */
.icon-heart-empty:before { content: '\e8ee'; } /* '' */
.icon-star:before { content: '\e8ef'; } /* '' */
.icon-star-empty:before { content: '\e8f0'; } /* '' */
.icon-star-half:before { content: '\e8f1'; } /* '' */
.icon-attach-2:before { content: '\e8f2'; } /* '' */
.icon-desktop-1:before { content: '\e8f3'; } /* '' */
.icon-laptop-1:before { content: '\e8f4'; } /* '' */
.icon-tablet-1:before { content: '\e8f5'; } /* '' */
.icon-mobile-1:before { content: '\e8f6'; } /* '' */
.icon-wristwatch:before { content: '\e8f7'; } /* '' */
.icon-stopwatch:before { content: '\e8f8'; } /* '' */
.icon-firefox-1:before { content: '\e8f9'; } /* '' */
.icon-chrome-1:before { content: '\e8fa'; } /* '' */
.icon-opera-1:before { content: '\e8fb'; } /* '' */
.icon-ie:before { content: '\e8fc'; } /* '' */
.icon-volume-off:before { content: '\e8fd'; } /* '' */
.icon-volume-down:before { content: '\e8fe'; } /* '' */
.icon-volume-up:before { content: '\e8ff'; } /* '' */
.icon-headphones:before { content: '\e900'; } /* '' */
.icon-block:before { content: '\e901'; } /* '' */
.icon-bell:before { content: '\e902'; } /* '' */
.icon-megaphone:before { content: '\e903'; } /* '' */
.icon-left-bold:before { content: '\e904'; } /* '' */
.icon-right-bold:before { content: '\e905'; } /* '' */
.icon-down-bold:before { content: '\e906'; } /* '' */
.icon-up-bold:before { content: '\e907'; } /* '' */
.icon-down-thin:before { content: '\e908'; } /* '' */
.icon-left-thin:before { content: '\e909'; } /* '' */
.icon-up-thin:before { content: '\e90a'; } /* '' */
.icon-right-thin:before { content: '\e90b'; } /* '' */
.icon-bookmark-1:before { content: '\e90c'; } /* '' */
.icon-bookmarks:before { content: '\e90d'; } /* '' */
.icon-download-1:before { content: '\e90e'; } /* '' */
.icon-upload-1:before { content: '\e90f'; } /* '' */
.icon-upload-cloud-1:before { content: '\e910'; } /* '' */
.icon-reply-1:before { content: '\e911'; } /* '' */
.icon-reply-all-1:before { content: '\e912'; } /* '' */
.icon-forward-1:before { content: '\e913'; } /* '' */
.icon-quote:before { content: '\e914'; } /* '' */
.icon-comment-2:before { content: '\e915'; } /* '' */
.icon-book-open:before { content: '\e916'; } /* '' */
.icon-book:before { content: '\e917'; } /* '' */
.icon-archive:before { content: '\e918'; } /* '' */
.icon-box-1:before { content: '\e919'; } /* '' */
.icon-basket-1:before { content: '\e91a'; } /* '' */
.icon-bag:before { content: '\e91b'; } /* '' */
.icon-address:before { content: '\e91c'; } /* '' */
.icon-vcard:before { content: '\e91d'; } /* '' */
.icon-location-1:before { content: '\e91e'; } /* '' */
.icon-map:before { content: '\e91f'; } /* '' */
.icon-direction-1:before { content: '\e920'; } /* '' */
.icon-compass-1:before { content: '\e921'; } /* '' */
.icon-cup:before { content: '\e922'; } /* '' */
.icon-trash-1:before { content: '\e923'; } /* '' */
.icon-trophy:before { content: '\e924'; } /* '' */
.icon-download-outline:before { content: '\e925'; } /* '' */
.icon-bookmark-2:before { content: '\e926'; } /* '' */
.icon-flag-1:before { content: '\e927'; } /* '' */
.icon-flag-filled:before { content: '\e928'; } /* '' */
.icon-thumbs-up-1:before { content: '\e929'; } /* '' */
.icon-thumbs-down-1:before { content: '\e92a'; } /* '' */
.icon-download-2:before { content: '\e92b'; } /* '' */
.icon-upload-outline:before { content: '\e92c'; } /* '' */
.icon-upload-2:before { content: '\e92d'; } /* '' */
.icon-upload-cloud-outline:before { content: '\e92e'; } /* '' */
.icon-upload-cloud-2:before { content: '\e92f'; } /* '' */
.icon-reply-outline:before { content: '\e930'; } /* '' */
.icon-reply-2:before { content: '\e931'; } /* '' */
.icon-forward-outline:before { content: '\e932'; } /* '' */
.icon-forward-2:before { content: '\e933'; } /* '' */
.icon-location-2:before { content: '\e934'; } /* '' */
.icon-map-1:before { content: '\e935'; } /* '' */
.icon-direction-outline:before { content: '\e936'; } /* '' */
.icon-direction-2:before { content: '\e937'; } /* '' */
.icon-compass-2:before { content: '\e938'; } /* '' */
.icon-trash-2:before { content: '\e939'; } /* '' */
.icon-quote-left-alt:before { content: '\e93a'; } /* '' */
.icon-quote-right-alt:before { content: '\e93b'; } /* '' */
.icon-comment-3:before { content: '\e93c'; } /* '' */
.icon-comment-inv:before { content: '\e93d'; } /* '' */
.icon-comment-alt:before { content: '\e93e'; } /* '' */
.icon-comment-inv-alt:before { content: '\e93f'; } /* '' */
.icon-comment-alt2:before { content: '\e940'; } /* '' */
.icon-comment-inv-alt2:before { content: '\e941'; } /* '' */
.icon-chat-3:before { content: '\e942'; } /* '' */
.icon-chat-inv:before { content: '\e943'; } /* '' */
.icon-location-3:before { content: '\e944'; } /* '' */
.icon-location-inv:before { content: '\e945'; } /* '' */
.icon-location-alt:before { content: '\e946'; } /* '' */
.icon-compass-3:before { content: '\e947'; } /* '' */
.icon-trash-3:before { content: '\e948'; } /* '' */
.icon-trash-empty-1:before { content: '\e949'; } /* '' */
.icon-right-hand:before { content: '\e94a'; } /* '' */
.icon-left-hand:before { content: '\e94b'; } /* '' */
.icon-up-hand:before { content: '\e94c'; } /* '' */
.icon-down-hand:before { content: '\e94d'; } /* '' */
.icon-credit-card:before { content: '\e94e'; } /* '' */
.icon-book-1:before { content: '\e94f'; } /* '' */
.icon-basket-2:before { content: '\e950'; } /* '' */
.icon-cog-outline:before { content: '\e951'; } /* '' */
.icon-cog-1:before { content: '\e952'; } /* '' */
.icon-wrench-outline:before { content: '\e953'; } /* '' */
.icon-wrench-1:before { content: '\e954'; } /* '' */
.icon-folder-add:before { content: '\e955'; } /* '' */
.icon-folder-delete:before { content: '\e956'; } /* '' */
.icon-archive-1:before { content: '\e957'; } /* '' */
.icon-box-2:before { content: '\e958'; } /* '' */
.icon-rss-outline:before { content: '\e959'; } /* '' */
.icon-contacts:before { content: '\e95a'; } /* '' */
.icon-vcard-1:before { content: '\e95b'; } /* '' */
.icon-address-1:before { content: '\e95c'; } /* '' */
.icon-location-outline:before { content: '\e95d'; } /* '' */
.icon-pencil-1:before { content: '\e95e'; } /* '' */
.icon-pen:before { content: '\e95f'; } /* '' */
.icon-edit-1:before { content: '\e960'; } /* '' */
.icon-feather:before { content: '\e961'; } /* '' */
.icon-print-1:before { content: '\e962'; } /* '' */
.icon-th-outline:before { content: '\e963'; } /* '' */
.icon-th-1:before { content: '\e964'; } /* '' */
.icon-th-large-outline:before { content: '\e965'; } /* '' */
.icon-th-large-1:before { content: '\e966'; } /* '' */
.icon-picture-outline:before { content: '\e967'; } /* '' */
.icon-picture-1:before { content: '\e968'; } /* '' */
.icon-camera-outline:before { content: '\e969'; } /* '' */
.icon-camera-1:before { content: '\e96a'; } /* '' */
.icon-heart-1:before { content: '\e96b'; } /* '' */
.icon-heart-filled:before { content: '\e96c'; } /* '' */
.icon-star-1:before { content: '\e96d'; } /* '' */
.icon-star-filled:before { content: '\e96e'; } /* '' */
.icon-users-outline:before { content: '\e96f'; } /* '' */
.icon-users-2:before { content: '\e970'; } /* '' */
.icon-video-1:before { content: '\e971'; } /* '' */
.icon-videocam-outline:before { content: '\e972'; } /* '' */
.icon-videocam-1:before { content: '\e973'; } /* '' */
.icon-pin-outline:before { content: '\e974'; } /* '' */
.icon-pin-1:before { content: '\e975'; } /* '' */
.icon-lock-open-filled:before { content: '\e976'; } /* '' */
.icon-lock-open-1:before { content: '\e977'; } /* '' */
.icon-resize-full-outline:before { content: '\e978'; } /* '' */
.icon-resize-full-1:before { content: '\e979'; } /* '' */
.icon-resize-normal-outline:before { content: '\e97a'; } /* '' */
.icon-resize-normal:before { content: '\e97b'; } /* '' */
.icon-move-outline:before { content: '\e97c'; } /* '' */
.icon-move-1:before { content: '\e97d'; } /* '' */
.icon-popup-2:before { content: '\e97e'; } /* '' */
.icon-block-outline:before { content: '\e97f'; } /* '' */
.icon-block-1:before { content: '\e980'; } /* '' */
.icon-down-3:before { content: '\e981'; } /* '' */
.icon-left-3:before { content: '\e982'; } /* '' */
.icon-right-3:before { content: '\e983'; } /* '' */
.icon-down-circle:before { content: '\e984'; } /* '' */
.icon-up-3:before { content: '\e985'; } /* '' */
.icon-left-circle:before { content: '\e986'; } /* '' */
.icon-right-circle:before { content: '\e987'; } /* '' */
.icon-up-circle:before { content: '\e988'; } /* '' */
.icon-tag-2:before { content: '\e989'; } /* '' */
.icon-tag-empty:before { content: '\e98a'; } /* '' */
.icon-download-cloud-1:before { content: '\e98b'; } /* '' */
.icon-upload-cloud-3:before { content: '\e98c'; } /* '' */
.icon-ok-2:before { content: '\e98d'; } /* '' */
.icon-ok-circle:before { content: '\e98e'; } /* '' */
.icon-cancel-3:before { content: '\e98f'; } /* '' */
.icon-cancel-circle:before { content: '\e990'; } /* '' */
.icon-plus-3:before { content: '\e991'; } /* '' */
.icon-plus-circle:before { content: '\e992'; } /* '' */
.icon-minus-3:before { content: '\e993'; } /* '' */
.icon-minus-circle:before { content: '\e994'; } /* '' */
.icon-help-2:before { content: '\e995'; } /* '' */
.icon-info-3:before { content: '\e996'; } /* '' */
.icon-pencil-2:before { content: '\e997'; } /* '' */
.icon-pencil-neg:before { content: '\e998'; } /* '' */
.icon-doc-inv-alt:before { content: '\e999'; } /* '' */
.icon-doc-alt:before { content: '\e99a'; } /* '' */
.icon-doc-inv-1:before { content: '\e99b'; } /* '' */
.icon-doc-2:before { content: '\e99c'; } /* '' */
.icon-mail-3:before { content: '\e99d'; } /* '' */
.icon-search-3:before { content: '\e99e'; } /* '' */
.icon-link-3:before { content: '\e99f'; } /* '' */
.icon-attach-3:before { content: '\e9a0'; } /* '' */
.icon-lock-2:before { content: '\e9a1'; } /* '' */
.icon-lock-empty:before { content: '\e9a2'; } /* '' */
.icon-lock-open-2:before { content: '\e9a3'; } /* '' */
.icon-lock-open-empty:before { content: '\e9a4'; } /* '' */
.icon-pin-2:before { content: '\e9a5'; } /* '' */
.icon-eye-2:before { content: '\e9a6'; } /* '' */
.icon-download-3:before { content: '\e9a7'; } /* '' */
.icon-upload-3:before { content: '\e9a8'; } /* '' */
.icon-user-3:before { content: '\e9a9'; } /* '' */
.icon-heart-2:before { content: '\e9aa'; } /* '' */
.icon-heart-empty-1:before { content: '\e9ab'; } /* '' */
.icon-star-2:before { content: '\e9ac'; } /* '' */
.icon-video-2:before { content: '\e9ad'; } /* '' */
.icon-picture-2:before { content: '\e9ae'; } /* '' */
.icon-camera-2:before { content: '\e9af'; } /* '' */
.icon-cog-2:before { content: '\e9b0'; } /* '' */
.icon-wrench-2:before { content: '\e9b1'; } /* '' */
.icon-share-1:before { content: '\e9b2'; } /* '' */
.icon-book-open-1:before { content: '\e9b3'; } /* '' */
.icon-folder-3:before { content: '\e9b4'; } /* '' */
.icon-box-3:before { content: '\e9b5'; } /* '' */
.icon-folder-empty-1:before { content: '\e9b6'; } /* '' */
.icon-rss-3:before { content: '\e9b7'; } /* '' */
.icon-rss-alt:before { content: '\e9b8'; } /* '' */
.icon-book-2:before { content: '\e9b9'; } /* '' */
.icon-book-alt:before { content: '\e9ba'; } /* '' */
.icon-mobile-2:before { content: '\e9bb'; } /* '' */
.icon-key:before { content: '\e9bc'; } /* '' */
.icon-key-inv:before { content: '\e9bd'; } /* '' */
.icon-move:before { content: '\f047'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-left-circled:before { content: '\f0a8'; } /* '' */
.icon-right-circled:before { content: '\f0a9'; } /* '' */
.icon-up-circled:before { content: '\f0aa'; } /* '' */
.icon-down-circled:before { content: '\f0ab'; } /* '' */
.icon-resize-full-alt:before { content: '\f0b2'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-pinterest-circled:before { content: '\f0d2'; } /* '' */
.icon-pinterest-squared:before { content: '\f0d3'; } /* '' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-lightbulb-1:before { content: '\f0eb'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-angle-double-down:before { content: '\f103'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-tablet:before { content: '\f10a'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-quote-right:before { content: '\f10e'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-reply:before { content: '\f112'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-keyboard:before { content: '\f11c'; } /* '' */
.icon-flag-empty:before { content: '\f11d'; } /* '' */
.icon-flag-checkered:before { content: '\f11e'; } /* '' */
.icon-reply-all:before { content: '\f122'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */
.icon-unlink:before { content: '\f127'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-attention-alt:before { content: '\f12a'; } /* '' */
.icon-mic:before { content: '\f130'; } /* '' */
.icon-mute:before { content: '\f131'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */
.icon-angle-circled-right:before { content: '\f138'; } /* '' */
.icon-angle-circled-up:before { content: '\f139'; } /* '' */
.icon-angle-circled-down:before { content: '\f13a'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-rss-squared:before { content: '\f143'; } /* '' */
.icon-play-circled:before { content: '\f144'; } /* '' */
.icon-ticket:before { content: '\f145'; } /* '' */
.icon-minus-squared:before { content: '\f146'; } /* '' */
.icon-minus-squared-alt:before { content: '\f147'; } /* '' */
.icon-level-up:before { content: '\f148'; } /* '' */
.icon-level-down:before { content: '\f149'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-pencil-squared:before { content: '\f14b'; } /* '' */
.icon-link-ext-alt:before { content: '\f14c'; } /* '' */
.icon-export-alt:before { content: '\f14d'; } /* '' */
.icon-compass:before { content: '\f14e'; } /* '' */
.icon-expand:before { content: '\f150'; } /* '' */
.icon-collapse:before { content: '\f151'; } /* '' */
.icon-expand-right:before { content: '\f152'; } /* '' */
.icon-doc-inv:before { content: '\f15b'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-dropbox-1:before { content: '\f16b'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-down:before { content: '\f175'; } /* '' */
.icon-up:before { content: '\f176'; } /* '' */
.icon-left:before { content: '\f177'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-skype:before { content: '\f17e'; } /* '' */
.icon-box:before { content: '\f187'; } /* '' */
.icon-right-circled2:before { content: '\f18e'; } /* '' */
.icon-left-circled2:before { content: '\f190'; } /* '' */
.icon-collapse-left:before { content: '\f191'; } /* '' */
.icon-dot-circled:before { content: '\f192'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */
.icon-mail-squared:before { content: '\f199'; } /* '' */
.icon-yahoo:before { content: '\f19e'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-fax:before { content: '\f1ac'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-taxi:before { content: '\f1ba'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-file-word:before { content: '\f1c2'; } /* '' */
.icon-file-excel:before { content: '\f1c3'; } /* '' */
.icon-file-powerpoint:before { content: '\f1c4'; } /* '' */
.icon-file-image:before { content: '\f1c5'; } /* '' */
.icon-file-archive:before { content: '\f1c6'; } /* '' */
.icon-circle-notch:before { content: '\f1ce'; } /* '' */
.icon-circle-thin:before { content: '\f1db'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-share-squared:before { content: '\f1e1'; } /* '' */
.icon-bell-off:before { content: '\f1f6'; } /* '' */
.icon-bell-off-empty:before { content: '\f1f7'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-chart-area:before { content: '\f1fe'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-bicycle:before { content: '\f206'; } /* '' */
.icon-bus:before { content: '\f207'; } /* '' */
.icon-cart-plus:before { content: '\f217'; } /* '' */
.icon-cart-arrow-down:before { content: '\f218'; } /* '' */
.icon-ship:before { content: '\f21a'; } /* '' */
.icon-motorcycle:before { content: '\f21c'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-train:before { content: '\f238'; } /* '' */
.icon-subway:before { content: '\f239'; } /* '' */
.icon-trademark:before { content: '\f25c'; } /* '' */
.icon-registered:before { content: '\f25d'; } /* '' */
.icon-creative-commons:before { content: '\f25e'; } /* '' */
.icon-safari:before { content: '\f267'; } /* '' */
.icon-chrome:before { content: '\f268'; } /* '' */
.icon-firefox:before { content: '\f269'; } /* '' */
.icon-opera:before { content: '\f26a'; } /* '' */
.icon-internet-explorer:before { content: '\f26b'; } /* '' */
.icon-television:before { content: '\f26c'; } /* '' */
.icon-amazon:before { content: '\f270'; } /* '' */
.icon-calendar-plus-o:before { content: '\f271'; } /* '' */
.icon-calendar-minus-o:before { content: '\f272'; } /* '' */
.icon-calendar-times-o:before { content: '\f273'; } /* '' */
.icon-calendar-check-o:before { content: '\f274'; } /* '' */
.icon-commenting:before { content: '\f27a'; } /* '' */
.icon-commenting-o:before { content: '\f27b'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */
.icon-shopping-basket:before { content: '\f291'; } /* '' */
.icon-question-circle-o:before { content: '\f29c'; } /* '' */
.icon-volume-control-phone:before { content: '\f2a0'; } /* '' */
.icon-google-plus-circle:before { content: '\f2b3'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-twitter-1:before { content: '\f309'; } /* '' */
.icon-twitter-circled:before { content: '\f30a'; } /* '' */
.icon-facebook-1:before { content: '\f30c'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */
.icon-facebook-squared-1:before { content: '\f30e'; } /* '' */
.icon-gplus-1:before { content: '\f30f'; } /* '' */
.icon-gplus-circled:before { content: '\f310'; } /* '' */
.icon-pinterest-1:before { content: '\f312'; } /* '' */
.icon-pinterest-circled-1:before { content: '\f313'; } /* '' */
.icon-instagram-1:before { content: '\f32d'; } /* '' */
.icon-dropbox:before { content: '\f330'; } /* '' */
.icon-evernote:before { content: '\f333'; } /* '' */